body { 
    background-image: url("images\Eisenhower-StoryImage_2.jpg"); 
    font-family: 'Pangolin', cursive;
    background:-moz-repeating-radial-gradient(brown, red);  
    
    
}

h1{
    font-family: 'Pangolin', cursive;
}