body { 
    font-family: 'Pangolin', cursive;  
    background: linear-gradient(rgb(161, 83, 83), rgba(118, 66, 20, 0.682), #ccd059); 
    background-repeat: none;
    
    
    
}

h1{
    font-family: 'Pangolin', cursive;
}